body{
  background-image: repeating-linear-gradient(lightblue, blue 5%, lightblue 20%); 
  width: 100%;
  height: 100%;
  margin: 2.5%;
  margin-top: 200px;
  background-color:
}

img{
  border: none;
  display: block;
  width: 800%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 800px;
}
